@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}





/*BASE RESET */
* {
  margin: 0;
  padding: 0;
}





/* GLOBAL STYLES */
body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem; /* 18px */
}




.btn:hover {
  background-color: darkorange;
  transition: background-color 1s;
}


a:link {
  color: black;
  text-decoration: none;
}





/* HEADER SECTION */
header {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  width: 100%;
}


#header-img {
  display: inline-block;
  height: auto;
  padding: 0 2rem;
  width: 30%;
}
  
  
nav {
  padding: 0 2rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list > li {
  padding: 1rem;
  text-align:center;
}

.nav-list > li:hover {
  background: rgba(69,86,125,0.9)
}

@media (max-width: 28.75em) {
  #header-img {
    width: 80%;
  }
  
  .nav {
    font-size: 2rem;
    justify-content: center;
  }
  
  .nav-list {
    flex-direction: column;
    justify-content: center;
	margin: 0 1rem;
    padding: 1rem;
  }
}





/* EMAIL SUBSCRIPTION SECTION*/
#email-subscription {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: center;
  margin: 8rem auto;
  text-align: center;
}


#form {
  display: flex;
  justify-content: center;
  width: 100%;
}


input[type="email"] {
  border: 0.1rem gray solid;
  font-size: 1.5rem;
  height: 3.5rem;
  margin: 2rem;
  min-width: 20%;
  padding: 0 2rem;
}


.input-btn {
  background: orange;
  border: 0.2rem orange solid;
  border-radius: 0.3rem; 
  cursor: pointer; 
  font-size: 1.5rem;
  font-weight: 800;
  margin: 2rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;

}


@media (max-width: 28.75em) {
  #form {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  input[type="email"] {
    margin: 1rem 2rem;
    padding: 0.5rem;
  }
  
  .input-btn {
    margin: 1rem 2rem;
    padding: 1rem 2rem;
  }
}





/* FEATURES SECTION --*/
#features {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  
}

.grid {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 20% auto;
  grid-template-rows: 1fr 2fr;
  justify-items: start;
  margin: 2rem 0;
}

.icon-img {
  grid-row-start: 1;
  grid-row-end: span 2;
  justify-self: center;
}

#icon {
  color: darkorange;
  flex-basis: 30rem;
}

.description {
  grid-row-start: 2;
  max-width: 80rem;
}


@media (max-width: 28.75em) {
  
  #features {
    margin: 0;
  }
  
  .icon-img {
    grid-row-start: 1;
    grid-row-end: span 1;
    justify-self: center;
  }
  
  .description {
    grid-column-start: 1;
    grid-column-end: span 2;
    max-width: 30rem;
    padding: 1rem 0;
  }
  
  .highlight {
    margin: 1rem 0.7rem;
  }
}





/*  HOW IT WORKS SECTION */
#how-it-works {
  display: flex;
  justify-content: center;
  padding: 6rem;
}


iframe {
  width: 50rem;
}





/* PRICING SECTION */
#pricing {
  display: flex;
  justify-content: center;
  width: 100%;
}


.trombon-type {
  align-items: center;
  border: 1px solid #000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.trombon-type > h2 {
  background-color: #ddd;
  color: black;
  font-weight: 700;
  margin: 0 4rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.trombon-type > ul {
  list-style: none;
  margin: 1.5rem 0;
}

.pricing-btn {
  background: orange;
  border: 0.2rem orange solid;
  border-radius: 0.3rem; 
  cursor: pointer; 
  font-size: 1.6rem;
  font-weight: 800;
  margin: 2rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}


@media (max-width: 28.75em) {
  #pricing {
    flex-direction: column;
  }
  
  .trombon-type {
    padding: 0;
  }
}





/*FOOTER SECTION */
footer {
 border-top: 0.2px solid rgba(0,0,0,1);
 display: flex;
 justify-content: space-evenly;
 padding: 2rem;
}

footer > ul {
  display: flex;
  list-style: none;
}

footer > ul > li {
  margin: 0 2rem;
}


@media (max-width: 28.75em) {
  footer {
    align-items: center;
	flex-direction: column-reverse;
  }
  
  footer > ul > li {
    padding: 1rem 0;
  }
}